{% extends "booking/booking_layout.html" %}{% load static %}{% block content %}

<style>
    * {
        margin: 0;
        padding: 0
    }
    
    .card {
        width: 1000px;
        background-color: #efefef;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
    }
    
    .name {
        font-size: 22px;
        font-weight: bold
    }

    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #000;
        color: #aeaeae;
        font-size: 15px;
        margin: 25px
    }
    
    .text span {
        font-size: 13px;
        color: #545454;
        font-weight: 500
    }
    

    
    .ticket_detail {
        margin-top: 25px;
        margin-left: 5%;
      }
      .ticket_detail td,
      .ticket_detail tr,
      .ticket_detail table,
      .ticket_detail th {
        border: 1px solid black;
        text-align: center;
      }
      .ticket_detail th {
        font-size: 20px;
      }
      .ticket_detail td {
        font-size: 19px;
      }
      .ticket_detail td,
      .ticket_detail tr,
      .ticket_detail th {
        width: 300px;
        height: 50px;
      }
</style>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
    <div class="card p-4"> 
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
            <span class="name mt-3">Name: {{ user.first_name }} {{ user.last_name }}</span> 
            <span class="name mt-3">Email: {{ user.email }}</span> 
            <div class=" d-flex mt-2"> 
                <button class="btn1 btn-dark"><a style = "text-decoration: none;color: #aeaeae;
                    font-size: 15px" href = "{% url "editprofile" user.id %}">Edit Profile</a></button>
                    <button class="btn1 btn-dark"><a style = "text-decoration: none;color: #aeaeae;
                        font-size: 15px" href = "{% url "change-password" %}">Change Password</a></button> 
            </div> 
            <div class="ticket_detail mt-3"> 
                {% if booked %}
                <h2>Booked seats</h2>
                <table>
                    <tr>
                        <th>Movie</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Seat number</th>
                        <th>Price</th>
                    </tr>
                    {% for book in booked %}
                    <tr>
                    <td>{{book.show.movie.movie_name}}</td>
                    <td>{{ book.time.time }}</td>
                    <td>{{ book.time.date }}</td>
                    <td>{{ book.seat }}</td>
                    <td>Rs. 250</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h2>No booking till now</h2>
                {% endif %}
            </div> 
        </div> 
    </div>
</div>{% endblock %}