{% extends "booking/booking_layout.html" %}{% load static %}{% block content %}

<style>
    * {
        margin: 0;
        padding: 0
    }
    
    .card {
        width: 350px;
        background-color: #efefef;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
    }
    
    .image img {
        transition: all 0.5s
    }
    
    .card:hover .image img {
        transform: scale(1.5)
    }
    
    .btn {
        height: 140px;
        width: 140px;
        border-radius: 50%
    }
    
    .name {
        font-size: 22px;
        font-weight: bold
    }
    
    .idd {
        font-size: 14px;
        font-weight: 600
    }
    
    .idd1 {
        font-size: 12px
    }
    
    .number {
        font-size: 22px;
        font-weight: bold
    }
    
    .follow {
        font-size: 12px;
        font-weight: 500;
        color: #444444
    }
    
    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #000;
        color: #aeaeae;
        font-size: 15px
    }
    
    .text span {
        font-size: 13px;
        color: #545454;
        font-weight: 500
    }
    
    .icons i {
        font-size: 19px
    }
    
    hr .new1 {
        border: 1px solid
    }
    
    .join {
        font-size: 14px;
        color: #a0a0a0;
        font-weight: bold
    }
    
    .date {
        background-color: #ccc
    }
</style>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
    <div class="card p-4"> 
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
            <button class="btn btn-secondary"> 
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
            </button> 
            <span class="name mt-3">Eleanor Pena</span> 
            <span class="idd">@eleanorpena</span>  
            <div class=" d-flex mt-2"> 
                <button class="btn1 btn-dark">Edit Profile</button> 
            </div> 
            <div class="text mt-3"> 
                <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. 
                </span> 
            </div> 
        </div> 
    </div>
</div>{% endblock %}